extends layout

block content
    h1= title

    //- all the form for the login
    label.col-form-label.col-form-label-sm(for="firstname") First name
    form(method="POST" action="/catalog/signup")
        input(
            class="form-control form-control-sm"
            type="text", name="firstname", id="firstname", required
            value=typeof firstname !== 'undefined' ? firstname : ''
            )
        label.col-form-label.col-form-label-sm(for="lastname") Last name
        input(
            class="form-control form-control-sm"
            type="text", name="lastname", id="lastname", required
            value=typeof lastname !== 'undefined' ? lastname : ''
            )
        label.col-form-label.col-form-label-sm(for="username") Username
        input(
            class="form-control form-control-sm"
            type="text", name="username", id="username", required
            value=typeof username !== 'undefined' ? username : ''
            )
        label.col-form-label.col-form-label-sm(for="password") Password
        input(
            class="form-control form-control-sm"
            type="password", name="password", id="password", required
            )
        //- passwordconfirm
        label.col-form-label.col-form-label-sm(for="passwordConfirm") Confirm password
        input(
            class="form-control form-control-sm"
            type="password", name="passwordConfirm", id="passwordConfirm", required
            )
        button(type="submit", class="btn btn-sm btn-info min-cont") Sign up